#wrapper {
    font-family: sans-serif;
    font-size: 11pt;
    width: 980px;
    padding: 0;
    margin: 0 auto;
}

/* header */
#header {
    background-color: #D75C37;
    color: white;
    border-bottom: 3px solid black;
}
#header form {
    display: inline-block;
    width: 455px;
    margin-left: 360px;
    color: black;
}
#login_button {
    background-color: #3B3A36;
    border-radius: 0px;
    border: none;
    color: #C0DFD9;
    width: 50px;
    display: inline-block;
}
#header label {
    margin: 5px;
}
#header h1 {
    display: inline-block;
    padding: 10px;
}

/* main content */
#main_content {
    background-color: #67727A;
    padding: 10px;
}
#main_content h2 {
    text-align: center;
}
#main_content form {
    background-color: #6991AC;
    width: 295px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid black;
}
#main_content label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#button {
    margin-left: 226px;
    background-color: #3B3A36;
    border-radius: 0px;
    border: none;
    color: #C0DFD9;
}
.flashes {
    width: 400px;
    margin: 0 auto;
}